body {
    margin: 0px;
}

nav {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color: aliceblue;
}

a:hover {
    background-color: antiquewhite;
}